:root {
    /**Says header font size should be min 1.5 rem,the optimal should be 3vw
    plus a rem unit so that the user can see the change ifthey zoom in or out,
    and that the maximum it can grow is 6rem */
    --header-font-size:clamp(1.5rem, 3vw + .8rem, 6rem);

}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.image-container {
    flex: 1; /*Sets the container width */
    position: relative;
    background-color: aqua;
}

.logo-container {
    padding: 10px 0 10px 0;
    position: absolute;
    top:236px;
    background-color: rgba(10, 10, 10, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw; 
    
}
/*Applied container to svg to control the dimensions of it*/
.svg-container {
    /** The same as width:7vw and width-min:25px; */
    width: max(7vw , 25px);
}

.logo-header {
    margin: 20px 0 20px 0;
    color: white;
    font-size: var(--header-font-size);
    width: auto;
}
.register-container {
    flex: 2;
}

.title {
    font-size: var(--header-font-size);
}