
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
:root {
    /**Says header font size should be min 1.5 rem,the optimal should be 3vw
    plus a rem unit so that the user can see the change ifthey zoom in or out,
    and that the maximum it can grow is 6rem */
    --logo-font-size:clamp(1.5rem, 4vw + .8rem, 7rem);
    --title-font-size:clamp(1.2rem, 1vw + .5rem, 2rem);
    --label-font-size:clamp(0.3rem, 2vw + 1rem, 6rem);
    --default-font-size:clamp(12px, 2vw, 2rem);
    --bg-color: #37143e;
    --accent-color:#38285c;
    --light-color:#594159;
    --weird-color:#ff0285;
    --shadow-color: #1a1c1d;
    --text-color:bisque;
}
body {
    color: var(--text-color);
    font-family: 'Space Grotesk', sans-serif;;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.image-container {
    background-image: url("images/stars.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1; /*Sets the container width */
    position: relative;
}

.logo-container {
    padding: 10px 0 10px 0;
    position: absolute;
    top:236px;
    background-color: rgba(10, 10, 10, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw; 
    
}
/*Applied container to svg to control the dimensions of it*/
.svg-container {
    /** The same as width:7vw and width-min:25px; */
    width: max(7vw , 25px);
}

.logo-header {
    margin: 20px 0 20px 0;
    font-size: var(--logo-font-size);
    width: auto;
}

.credit, a {
    color: var(--text-color)
}

.credit {
    text-align: center;
    position: relative;
    top: 90%;
}
.register-container {
    flex: 2;
}

.title {
    margin: 5% 2% 0 5%;
    font-size: var(--title-font-size);
}

form {
    margin-top: 5%;
    padding: 3% 0 3% 5%;
    box-shadow: 0px 5px 12px var(--shadow-color);
}

button {
    margin: 3% 0 0 5%;
}

fieldset  {
    margin-inline: 0;
    padding-inline: 0;
    padding-block: 0;
    margin-block: 0;
    min-inline-size: none;
    border-width: 0px;
    border-style: none;
    border-color: rgb(192, 192, 192);
    border-image: outside;
}
fieldset>legend {
    font-size: var(--title-font-size);
    display: table;
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: bold;
}
.margin {
    margin-bottom: 5%;
}
ul {
    display: flex;
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    gap: max(5vw, 8px);
}

li {
    padding: 2% 0 0 0;
    display: flex;
    flex-direction: column;
}
label {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(.5rem, 1vw, 2rem);
}
input {
    color:var(--text-color);
    border: 4px  solid var(--light-color);
    border-radius: 2px;
    background-color: var(--bg-color);
    height: max(1rem, 1vw + .5rem);
    width:max(20vw, 5rem);
    font-size: var(--default-font-size);
}

input:invalid {
    border:2px dashed red ;
}

input:valid {
    border-color: var(--light-color);
}
input:focus {
    outline: none;
    border-color: var(--weird-color);
}
button {
    border-radius: 5px;
    font-size: clamp(12px, 2vw, 2rem);
    padding: 1%;
    height: max(1rem, 2vw + 1.5rem);
    width: max(12vw, 1 vw + 4rem);
    color: var(--text-color);
    background-color: var(--accent-color);
    border:none;
    box-shadow: 4px 6px var(--shadow-color);
}

button:focus {
    background-color: var(--);
}

h4 {
    font-size: clamp(.6rem, 1vw, 1.5rem);
    margin-left: 5%;
}

h4>a {
    text-decoration: none;
}
